doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src = '/vendor/jquery/jquery.min.js')
		script(src = '/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(src = '/vendor/angular/angular.min.js')
		script(src = '/vendor/angular-route/angular-route.min.js')
		script(src = '/vendor/angular-animate/angular-animate.min.js')
		script(src = '/vendor/angular-resource/angular-resource.min.js')
		script(src = '/vendor/requirejs/require.js' data-main = 'javascripts/main')
	body(ng-cloak)
		nav.navbar-custom.navbar.navbar-inverse.navbar-fixed-top(role = navigation, ng-controller =' NavBarCtrl')
			div.container
				div.navbar-header
					button.navbar-toggle(data-toggle = 'collapse', data-target = '#top-nav', type = 'button')
						span.sr-only  Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand Our brand
				div.collapse.navbar-collapse#top-nav
					ul.nav.navbar-nav
						li
							a(href='#') Home
						li
							a(href='#') Gallery
					ul.nav.navbar-nav.navbar-right(ng-switch on = 'user.isLogin')
						li.dropdown(ng-switch-when = 'false')
							a.dropdown-toggle(data-toggle = 'dropdown') Login
								b.caret
							ul.dropdown-menu.row
								div.col-lg-12
									form(role='form')
										div.form-group
										div.form-group
											input.form-control#login-user-name(type='text', placeholder='Enter user name')
										div.form-group
											input.form-control#login-password(type='password', placeholder='Enter password')
										button.btn.btn-primary.btn-block(type='submit') Login		
										div.form-group
						li
							a(href = '#', ng-switch-default) Welcome {{user.userName}}
		main.main-content.view-animate(ng-view)
