<div style = 'padding-top:70px'>
	<div class = 'container'>

		<!-- styling the list game -->
		<div style = 'float:left; width:200px; margin: 0 10px'>
			<div>
				<a href = '#'><img src = 'assets/image/screenshot.png' width = '200' height = '200' class = 'img-thumbnail img-responsive'></img>
				</a>
			</div>
			<div>
				<h3 class = 'text-success text-center'><strong>Title : Starwars</strong></h3>
			</div>
			<div>
				<h4 class = 'text-muted text-center'>Created by : Student A</h4>
			</div>
		</div>

		<div style = 'float:left; width:200px; margin: 0 10px' class = 'img-circle img-responsive'>
			<div>
				<a href = '#'><img src = 'assets/image/screenshot.png' width = '200' height = '200' class = 'img-thumbnail img-responsive'></img>
				</a>
			</div>
			<div>
				<h3 class = 'text-success text-center'><strong>Title : StarTrek</strong></h3>
			</div>
			<div>
				<h4 class = 'text-muted text-center'>Created by : Student B</h4>
			</div>
		</div>

	</div>
</div>

<!-- shoutbox -->
<div class="shout_box">
	<div class="header">Need help ?<div class="close_btn"><span class = 'glyphicon glyphicon-remove'></span></div></div>
  	<div class="toggle_chat">
  		<div class="message_box">
    	</div>
    	<div class="user_info">
   			<input name="shout_message" id="shout_message" type="text" placeholder="Type Message Hit Enter" maxlength="100" /> 
    	</div>
    </div>
</div>
<!-- shoutbox end -->