<div class = 'home-page-wrapper'>
	<div class = 'container' ng-switch on = 'user.isLogin'>
		<div class = 'row' ng-switch-when = 'false'>
			
			<!-- homepage anime image -->
			<section class = 'image col-lg-5 col-md-5 col-sm-5 col-xs-10'>
				&nbsp;
			</section>
			
			<!-- slogan -->
			<section class = 'slogan col-lg-3 col-md-3 col-sm-3 col-xs-10'>
				&nbsp;
			</section>

			<!-- registration form -->
			<section class = 'registration-form col-lg-4 col-md-4 col-sm-4 col-xs-12'>
				<div class = 'row'>
					<div class = 'col-xs-2 visible-xs'></div>
					<div class = 'col-xs-8 col-sm-12 col-lg-12 col-md-12'>
						
						<!-- registration form  -->				
						<form role = 'form' id = 'form-registration' ng-submit = 'registerSubmit()'>
							<div class = 'form-group'>
								<input class = 'form-control input-lg' id = 'register-user-name' type = 'text' placeholder = 'Enter your user name' required ng-maxlength = '20' ng-model = 'user.userName'>
							</div>
							<div class = 'form-group'>
								<input class = 'form-control input-lg' id = 'register-password' type = 'password' placeholder = 'Enter your password' required ng-maxlength = '20' ng-model = 'user.password'>
							</div>
							<button class = 'btn btn-success btn-lg btn-block' type = 'submit'>Register</button>
						</form>

					</div>
					<div class = 'col-xs-2' visible-xs></div>
				</div>
			</section>
		</div>

		<div class = 'row' ng-switch-default>Hello world</div>
	</div> 
	<div class = 'footer'></div>
</div>