<div class = 'page-wrapper page-question-list'>
	<div class = 'container'>
		<!-- list of questions -->
		<div class = ''>
			<table class = 'table table-hover'>
				<!-- header -->
				<thead>
					<tr>
						<th>User Name</th>
						<th>Questions</th>
						<th>Accept ?</th>
					</tr>
				</thead>

				<!-- body of table -->
				<tbody>
					<tr ng-repeat = 'question in QuestionListCtrl.questionList' class = 'QuestionList'>
						
					</tr>
				</tbody>
			</table>
		</div>

		<!-- save change button -->
		<div>
			<button class = 'btn btn-success'>Save</button>
		</div>
	</div>
</div>
<script type = 'text/ng-template' id = 'questionList.html'>
	<td>{{question.userName}}</td>
	<td>
		<div class = 'form-group text-danger'>
			{{question.title}}	
		</div>
		<div class = 'form-group'>
			<div class = 'radio' ng-repeat = 'ans in question.answers'>
				<label>
					<input type ='radio' disabled name = 'questionList{{$parent.$index}}' ng-checked='{{question.select == $index + 1}}'>
					{{ans.answer}}
				</label>
			</div>
		</div>
	</td>
	<td>
		<div class = 'checkbox'>
			<label><input type = 'checkbox'>You accept it ?</label>
		</div>
	</td>
</script>