<div class = 'page-wrapper page-question-list'>
	<div class = 'container'>
		<!-- list of questions -->
		<div class = ''>
			<table class = 'table table-hover'>
				<!-- header -->
				<thead>
					<tr>
						<th>User Name</th>
						<th>Questions</th>
						<th>Accept</th>
					</tr>
				</thead>

				<!-- body of table -->
				<tbody>
					<tr>
						<td>Your user name</td>
						<td>
							<div class = 'form-group text-danger'>
								Question title	
							</div>
							<div class = 'form-group'>
								<div class = 'radio'>
									<label>
										<input type ='radio' name = 'hello' checked>
										Answer question 1
									</label>
								</div>
								<div class = 'radio'>
									<label>
										<input type ='radio' name = 'hello'>
										Answer question 2
									</label>
								</div>
								<div class = 'radio'>
									<label>
										<input type ='radio' name = 'hello'>
										Answer question 3
									</label>
								</div>
							</div>
						</td>
						<td>
							<div class = 'checkbox'>
								<label><input type = 'checkbox'>Choose your correct</label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- save change button -->
		<div>
			<button class = 'btn btn-success'>Save</button>
		</div>
	</div>
</div>