<div style = 'padding-top:70px'>
	<div class = 'container'>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class = 'question'>Question</th>
						<th>Game List</th>
						<th>Author</th>
						<th>Percentage</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'question in QuestionPollCtrl.questionPollList'>
						<td class = 'text-danger question'>{{question.questionTitle}}</td>
						<td>
							<div class = 'text-primary'>
								<a href = '#/published/{{question.gameID}}'>{{question.gameTitle}}</a>
							</div>
						</td>
						<td class = 'text-success'>{{question.userName}}</td>
						<td>
							<div>
								<div class="progress">
									<div class="progress-bar progress-bar-success" ng-style = "{width : question.percentRight + '%'}">
								  		{{question.percentRight}}% Correct
								  	</div>
								  	<div class="progress-bar progress-bar-warning" ng-style = "{width : (100-question.percentRight) + '%'}">
										{{100-question.percentRight}}% Wrong
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>