<div class = 'page-wrapper page-question-list'>
	<div class = 'container'>
		<!-- list of questions -->
		<div class = ''>
			<table class = 'table table-hover'>
				<!-- header -->
				<thead>
					<tr>
						<th>User Name</th>
						<th>Questions</th>
						<th>Accept ?</th>
						<th>Comment</th>
					</tr>
				</thead>

				<!-- body of table -->
				<tbody>
					<tr ng-repeat = 'question in QuestionListCtrl.questionList'>
						<td>{{question.userName}}</td>
						<td>
							<div class = 'form-group text-danger'>
								{{question.title}}	
							</div>
							<div class = 'form-group'>
								<div class = 'radio' ng-repeat = 'ans in question.answers'>
									<label>
										<input type ='radio' disabled name = 'questionList{{$parent.$index}}' ng-checked='{{question.select == $index + 1}}'>
										{{ans.answer}}
									</label>
								</div>
							</div>
						</td>
						<td>
							<div class = 'radio'>
								<label><input type = 'radio' ng-model = 'question.correct' value = '1'>Accept</label>
							</div>
							<div class = 'radio'>
								<label><input type = 'radio' ng-model = 'question.correct' value = '2'>Reject</label>
							</div>
						</td>
						<td>
							<textarea rows = '2' cols = '20' style = 'resize:none' ng-model = 'question.comment'></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- save change button -->
		<div>
			<button class = 'btn btn-success' ng-click = 'QuestionListCtrl.save()'>Save</button>
		</div>
	</div>
</div>