<div style = 'padding-top:70px'>
	<div class = 'container'>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class = 'question'>Question</th>
						<th>Game List</th>
						<th>Author</th>
						<th>Percentage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class = 'text-danger question'>How many continents are there in the world ?</td>
						<td>
							<div class = 'text-primary'>
								Star wars
							</div>
						</td>
						<td class = 'text-success'>Student A</td>
						<td>
							<div>
								<div class="progress">
									<div class="progress-bar progress-bar-success" style="width: 65%">
								  		65% Correct
								  	</div>
								  	<div class="progress-bar progress-bar-warning" style="width: 35%">
										35% Wrong
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>