<div class = 'page-wrapper page-upload'>
	<div class = 'container'>
		
		<!-- title and instruction for uploading image-->
		<div class = 'row'>
			<div class = 'col-xs-1 visible-xs'></div>
			<div class = 'col-xs-10 col-lg-8 col-md-8 col-sm-8 highlight'>
				<p class = 'text-primary'>I) Instructions : you can upload image that you want to have in you game creation part. It includes both image for creating obstacle and image to create your own rewards. Please select your choice when uploading your image. <strong class = 'text-danger'>Warning: The maximum dimesion of the image is 160x160 pixel.</strong> </p>
			</div>
			<div class = 'col-xs-1 visible-xs'></div>
		</div>
		
		<!-- Image upload controller -->
		<div ng-controller = 'ImageUploadCtrl'>
			
			<div ng-repeat = 'image in ImageUploadCtrl.images'>
				<div class = 'ImageUpload' index = '{{$index}}' ></div>
			</div>
		
			<!-- button for uploading image -->
			<div class = 'row'>
				<div class = 'col-xs-1 visible-xs'></div>
				<button type="button" class="btn btn-info" ng-click = 'ImageUploadCtrl.addImage()'>Add image</button>
			</div>
			<div class = 'row'>
				&nbsp;
			</div>
		</div>
		<!-- Image upload controller -->	

		<!-- title for uploading question -->
		<div class = 'row'>
			<div class = 'col-xs-1 visible-xs'></div>
			<div class = 'col-xs-10 col-lg-8 col-md-8 col-sm-8 highlight'>
				<p class = 'text-primary'>II) Instructions : you can add in the question that you want to include in your game creation part. The question can be any kinds but it must have 3 choices. All the questions will be checked by the teacher.</p>
			</div>
			<div class = 'col-xs-1 visible-xs'></div>
		</div>
		
		<!-- Question upload controller -->
		<div ng-controller = 'QuestionUploadCtrl'>
			<div ng-repeat = 'question in QuestionUploadCtrl.questions'>
				<div class = 'QuestionUpload' index = '{{$index}}'>
					
				</div>
			</div>

			<!--action button /-->
			<div class = 'row'>
				<div class = 'col-xs-1 visible-xs'></div>
				<button type="button" class="btn btn-info" ng-click = 'QuestionUploadCtrl.addQuestion()'>Add question</button>
				<button type="button" class="btn btn-success" ng-click = 'FileUploadCtrl.submitFile()'>Submit all</button>
			</div>
		</div>
	</div>	
</div>

<script type = 'text/ng-template' id = 'image.html'>
	<div class="fileinput fileinput-new row" data-provides="fileinput">
	  			
		<div class = 'col-xs-1 visible-xs'></div>
		<div class="fileinput-preview thumbnail col-lg-3" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
	
		<div class = 'col-lg-1'></div>
		<div class = 'col-xs-1 visible-xs'></div>

	 	<div class = 'col-lg-5 col-md-8 col-sm-8 col-xs-10'>
	 		<div class = 'row uploadImageHelper hidden'> {{image.helper}}
	 		</div>

	 		<div class = 'row'>
	 			<input type = 'text' class="form-control" ng-model = 'image.title' required placeholder="Image title">
	 		</div>

	 		<div class = 'row'>
		 	 	<label class="radio-inline">
					<input type="radio" name = 'radio{{$index}}' ng-model = 'image.select' value="Obstacles" checked> Obstacles
				</label>
				<label class="radio-inline">	
					<input type="radio" name = 'radio{{$index}}' ng-model = 'image.select' value="Rewards"> Rewards
				</label>
			</div>
		
			<div class = 'row'>
				&nbsp;
			</div>
	 	 	<div class = 'row'>
	    		<span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists" 'ImageUploadCtrl.changeImage($files, $index)'>Change</span><input type="file" ng-file-select = 'ImageUploadCtrl.onFileSelect($files, $index)' name="..."></span>
	    		<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput" ng-click = 'ImageUploadCtrl.removeImage($files, $index)'>Remove</a>
	  		</div>
	  		<div class = 'row btn-remove-image-box'>
	  			<button class = 'btn btn-danger' ng-click = 'ImageUploadDirective.removeImageBox($index)'>Remove box</button>
	  		</div>
		</div>

	</div>
</script>

<script type = 'text/ng-template' id = 'question.html'>
	<div class = 'row'>&nbsp;</div>	
				
	<!-- uploading question form -->
	<div class = 'row'>
		<div class = 'col-xs-1 visible-xs'></div>
		<div class = 'col-xs-10 col-lg-8 col-md-8 col-sm-8 well'>
			<div class="form-group">
				<label>Question {{$index + 1}}</label>
			</div>
			<div class="form-group">
				<label class = 'uploadQuestionHelper hidden'>{{question.helper}}</label>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model = 'question.title' placeholder="Question title">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model = 'question.ans1' placeholder="Answer 1">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model = 'question.ans2' placeholder="Answer 2">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model = 'question.ans3' placeholder="Answer 3">
			</div>
			<div class="form-group">
				<button class = 'btn btn-danger'>Remove question</button>
			</div>
		</div>
		<div class = 'col-xs-1 visible-xs'></div>
	</div>
</script>



